SLACK_SIGNING_SECRET=
SLACK_BOT_TOKEN=xoxb-
SLACK_USER_TOKEN=xoxp-
SLACK_LIST_ID=

COL_TASK=
COL_TASK_ID=
COL_DESCRIPTION=
COL_CREATED_BY=
COL_ASSIGNEE=
COL_STATUS=
COL_PRIORITY=
COL_DUE_DATE=

OPT_STATUS_NOT_STARTED=
OPT_STATUS_IN_PROGRESS=
OPT_STATUS_BLOCKED=
OPT_STATUS_DONE=
TASK_ID_PREFIX=

INVOICE_REMINDER_CHANNEL_ID=
APP_TIMEZONE=

TASK_BOT_USER_ID=

# Optional:
TEAM_USER_MAP_JSON='{"delali":"U03JL8L7GJ0","ethan":"UXXXXXXXXXX"}'
ENABLE_DYNAMIC_USER_LOOKUP=true
SSL_CERT_FILE=